*{
margin:0;
padding:0;
}
.clear
{
	clear:both; /*새로운 줄 시작*/
}
body{
	color:#212121;
	font-family:"굴림";
}
header{
	height:100px;
	
}
#top {
	height:30px;
	background-color:#F6F1F1;
}
.box{
	width:1300px;
	margin: 0 auto;
	
}
#top_text{
	float:left; /*왼쪽 정렬*/
	margin: 10px 0 0 8px;
	font-size: 12px;
}
#mainlogo{
	text-align:center;
}
#mainmenu{
	height:30px;
	background-color:#F6F1F1;
	border-top:solid 1px #B7B7B7;
	border-bottom:solid 1px #B7B7B7;
	padding:20px 10px 20px 20px;
}
li{
	list-style:none;
}
#mainmenu li{
	display:inline;
	font-size:20px;
	margin-left:50px;

}
a{
	text-decoration:none;
	color:inherit; /*링크의 색상 제거*/
}

section{
	height:1400px;
	
}
#sn_box h3{
	float:left;
	margin-left:590px ;
}
#sn_box{
	padding-top:30px ;
}
.animal{
	float:left;
	margin:30px 0 0 20px;
}
.animal .int{
	font-weight:bold;
	margin-top:15px;
}
.animal .ro{
	margin-top:5px;
}
.animal .duce{
	font-size:12px;
	margin-top:5px;
}
footer{
	height:100px;
	border:solid 1px red;
}
